README_OpenSonATA_1.0
data/
docs/
sonata-gen
sonata-vger
sonata_archive/
sonata_install/
src.LGPL/
*~
/lib/
/src/sse-pkg/util/sonataInfoDisplay/*.o
src/sse-pkg/util/sonataInfoDisplay/sonataInfoDisplay
